.ingr {
  width: 95%;
  padding: 5px;
  border-radius: 10px;
  margin: 5px auto 60px;
  max-width: 1200px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.ingr ul {
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: disc;
  margin: 0;
}

.ingr ul li {
  padding: 5px;
  flex: 1 1 calc(50% - 20px);
  position: relative;
}

@media (max-width: 600px) {
  .ingr ul {
    padding-left: 20px;
    flex-direction: column;
    gap: 10px;
  }

  .ingr ul li {
    flex: none;
    width: 100%;
    padding-left: 0;
  }
}
