* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 231, 214);
  color: rgb(53, 94, 59);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.App {
  text-align: center;
}

/* Scrollbar */

html::-webkit-scrollbar {
  width: 7px;
}
html::-webkit-scrollbar-track {
  background: rgb(53, 94, 59);
}
html::-webkit-scrollbar-thumb {
  background: rgb(184, 216, 190);
  border-radius: 15px;
}

h1 {
  text-align: center;
  margin: 3%;
}
