.card {
  background-color: rgb(184, 216, 190);
  color: rgb(85, 107, 47);
  width: 320px;
  height: 180px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}
