.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px 0px 60px 0px;
}
.card {
  background-color: rgb(184, 216, 190);
  color: rgb(85, 107, 47);
  width: 300px;
  padding: 0px 0px 10px 0px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
}
.cardH3 {
  padding: 10px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
