.Footer {
  background-color: rgb(184, 216, 190);
  color: rgb(248, 255, 248);
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 5px 30px;
}

.F-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.F-item {
  margin: 5px 0;
}

.F-item img {
  filter: brightness(125%);
  width: 25px;
  margin-left: 15px;
}
