/* CARTELLA IMG DA COPIARE DA DENTRO LA CARTELLA aaaaaa sìSUL DESKTOP

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(34, 39, 40);
  color: rgb(4, 206, 125);
}

.App {
  text-align: center;
}

/* Scrollbar */

html::-webkit-scrollbar {
  width: 7px;
}
html::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
html::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151);
  border-radius: 15px;
}

h1 {
  text-align: center;
  margin: 3%;
}

footer {
  background-color: rgb(30, 30, 30);
  color: rgb(216, 243, 220);
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.f-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
}
.f-item {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: x-small;
}
.f-item img {
  width: 35px;
  margin-left: 15px;
  border: none;
}
.f-item img:hover {
  filter: brightness(150%);
}
